<a href="https://colab.research.google.com/github/VankamallaKiranteja/Project1/blob/main/Python_Spam_Mail_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data preprocessing
raw_data=pd.read_csv("spam_ham_dataset.csv")
#replace the null value with null string
mail_data = raw_data.where(pd.notnull(raw_data),"")

In [ ]:
mail_data.shape

(5171, 4)

In [ ]:
mail_data.head()

   Unnamed: 0  ... label_num
0         605  ...         0
1        2349  ...         0
2        3624  ...         0
3        4685  ...         1
4        2030  ...         0

[5 rows x 4 columns]

In [ ]:
#taking only columns of label and text
mail_dt=mail_data[mail_data.columns[1:3]]

In [ ]:
mail_dt.head()

  label                                               text
0   ham  Subject: enron methanol ; meter # : 988291\r\n...
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3  spam  Subject: photoshop , windows , office . cheap ...
4   ham  Subject: re : indian springs\r\nthis deal is t...

In [ ]:
#label the spam mail as 0 and ham mail as 1
mail_dt.loc[mail_dt['label']=='spam','label',]=0
mail_dt.loc[mail_dt['label']=='ham','label',]=1

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
X = mail_dt['text']
Y=mail_dt['label']
print(X,Y)

0       Subject: enron methanol ; meter # : 988291\r\n...
1       Subject: hpl nom for january 9 , 2001\r\n( see...
2       Subject: neon retreat\r\nho ho ho , we ' re ar...
3       Subject: photoshop , windows , office . cheap ...
4       Subject: re : indian springs\r\nthis deal is t...
                              ...
5166    Subject: put the 10 on the ft\r\nthe transport...
5167    Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168    Subject: calpine daily gas nomination\r\n>\r\n...
5169    Subject: industrial worksheets for august 2000...
5170    Subject: important online banking alert\r\ndea...
Name: text, Length: 5171, dtype: object 0       1
1       1
2       1
3       0
4       1
       ..
5166    1
5167    1
5168    1
5169    1
5170    0
Name: label, Length: 5171, dtype: object

In [ ]:
#splitting data
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,train_size=0.8,test_size=0.2,random_state=3)

In [ ]:
#import libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

In [ ]:
# transform the text data into feature vectors so that we can use input to the SVM using the TfidVectorizer
#convert the text to lowercase letters
feature_extraction=TfidfVectorizer(lowercase=True,stop_words='english')
X_train_features=feature_extraction.fit_transform(X_train)
X_test_features=feature_extraction.transform(X_test)
#convert the values to int
Y_train=Y_train.astype(int)
Y_test=Y_test.astype(int)

In [ ]:
# Training the SVM machine
model=LinearSVC()
model.fit(X_train_features,Y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [ ]:
predict_train=model.predict(X_train_features)
accuracy_train=accuracy_score(Y_train,predict)
print("Accuracy on training data",accuracy_train)

Accuracy on training data 1.0

In [ ]:
predict_test_data=model.predict(X_test_features)
accuracy_test_data=accuracy_score(Y_test,predict_test_data)
print("Accuracy on test data",accuracy_test_data)

Accuracy on test data 0.9864734299516909

Input to the model to check the prediction

In [ ]:
mail=["Subject: photoshop , windows , office . cheap . main trendingabasements darer prudently fortuitous undergonelighthearted charm orinoco tasterrailroad affluent pornographic cuvierirvin parkhouse blameworthy chlorophyllrobed diagrammatic fogarty clears baydainconveniencing managing represented smartness hashishacademies shareholders unload badnessdanielson pure caffeinspaniard chargeable levin"]
mail_features=feature_extraction.transform(mail)
#predicting the type of mail
predict=model.predict(mail_features)
if predict[0]==1:
  print("The mail is HAM mail")
else:
  print("The mail is SPAM mail")

The mail is SPAM mail